$egg: 14rem
$burst-angle: 36deg

.egg
  +shape($egg, #{$egg + 6rem}, 50% 50% 35% 35%)
  display: flex
  align-items: center
  box-shadow: 3px 3px 4px #b3b3b3
  background: #f6f6f6
  display: none
.curve
  +shape(100%, 0, 0)
  display: flex
  margin-left: 1.1rem
  span
    +shape(2.5rem, 3rem, 0)
    flex: 1
    &::after
      content: ''
      +shape(0.2rem, 4rem, 0)
      position: absolute
      transform-origin: left
      transform: rotate($burst-angle)
      opacity: 0
      background: #d6d6d6
    &:nth-of-type(2n+2)::after
      transform: rotate(-$burst-angle)
