.home
  padding-bottom: 3.5rem
  p
    margin-bottom: 2rem
    text-align: center
    font-size: 1.2em
  .master
    height: $egg-height
    display: flex
    align-items: center
    justify-content: center
    .egg
      position: absolute
      z-index: 1
