.indicator
  +shape(10rem, 1rem, 5%)
  position: relative
  margin: 0 auto
  border: 1px #314cb1 solid
  background: #92b1ea
  > div
    display: flex
    align-items: center
    justify-content: flex-start
    span
      +shape(1rem, 1rem, 5%)
      display: block
      background: #3f52b1
